{
    "trailingComma": "es5",
    "printWidth": 90,
    "arrowParens": "avoid",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.html", "*.css", "*.scss"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
