* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
}
